@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    html {
        scroll-behavior: smooth;
    }

    .text-shadow {
        text-shadow: 1.5px 0 1px rgba(53, 53, 53, 0.84);
    }

    .bg-gradient {
        background: rgb(32, 83, 117);
        background: linear-gradient(280deg, rgba(32, 83, 117, 0.8447837150127226) 0%, rgba(32, 83, 117, 1) 100%);
    }



    /* footer responsive */
    .footer-bottom {
        position: relative;
        height: 100%;
        min-height: calc(100vh - 216px);
    }

    .hover-img-card:hover>img {
        transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        transform: scale(1.05);
    }

    .hover-bar-card:hover span {
        transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        transform: scale(1.15);
    }

    .hover-details-card:hover #btnDetails {
        transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        opacity: 1;
    }

    /* loading animation */
    .lds-dual-ring {
        display: inline-block;
        width: 80px;
        height: 80px;
    }

    .lds-dual-ring:after {
        content: " ";
        display: block;
        width: 40px;
        height: 40px;
        margin: 8px;
        border-radius: 50%;
        border: 6px solid #F66B0E;
        border-color: #F66B0E transparent #F66B0E transparent;
        animation: lds-dual-ring 1.2s linear infinite;
    }

    @keyframes lds-dual-ring {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}